<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294949150197-f5ve318sp95bi3v3irrlors631n77e44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294949150197-f5ve318sp95bi3v3irrlors631n77e44</string>
	<key>API_KEY</key>
	<string>AIzaSyDKVcNDKhlrurKF36hr3ZMDrt62H82uGWo</string>
	<key>GCM_SENDER_ID</key>
	<string>294949150197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hgp.basketballCalculator</string>
	<key>PROJECT_ID</key>
	<string>basketball-app-3dd36</string>
	<key>STORAGE_BUCKET</key>
	<string>basketball-app-3dd36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294949150197:ios:ad5528ce7cfb731a</string>
	<key>DATABASE_URL</key>
	<string>https://basketball-app-3dd36.firebaseio.com</string>
</dict>
</plist>